@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}

.Main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  min-height: 100vh;
}
